# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Compiled Python files in any subdirectory
**/__pycache__/
**/*.pyc
**/*.pyo

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# LLM models
/models/

# PyCharm settings
.idea/

# macOS / Windows
.DS_Store
Thumbs.db

# Logs
*.log

# Python packaging
build/
dist/
*.egg-info/

# Misc
*.sqlite3

*.gz
cc.pt.300.kv
cc.pt.300.kv.vectors.npy